@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Merriweather&display=swap');
*{
          margin: 0;
          padding: 0;
          font-family: 'Lato', sans-serif;
          font-family: 'Merriweather', serif;
}
/* header section start */
header{
          background-color: aqua;
}

.container{
          width: 75%;
          max-width: 1440px;
          margin: 0 auto;
}
.banner-text *{
          margin-bottom: 25px;
}
.banner{ 
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 30px;
}
.banner-title{
          color: #272727;
          font-family: Lato;
          font-size: 50px;
          font-weight: 600;
}

.banner-description{
          color: rgba(39, 39, 39, 0.60);
          font-size: 14px;
          font-style: normal;
          font-weight: 400px;
}

.btn-primary{
          border-radius: 8px;
          background: #E55473;

          padding: 20px 43px;
          
}
.banner div{
          /* width: 50%; */
          max-width: 400px;
          
}

.banner-images img{
          vertical-align: middle;
          width: 100%;
}